/*
  LARS NATUS FITNESS
  © copyright 2017
  Design, Artwork and Code made with <3 by Lars Natus
*/

/* FONTS */

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

footer {
  font-size: 0.8rem;
}

h1 {
  font-weight: 100;
  font-size: 6.6rem;
}

h2 {
  font-weight: 300;
  font-size: 3.6rem;
}

h3 {
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: uppercase;
}


h1.lnf-h1-xs {
  font-size: 2rem;
}

h2.lnf-h2-xs {
  font-size: 1.4rem;
}


/* SPACER */
.lnf-top-md {
  margin-top: 30px;
}

.lnf-bottom-sm {
  margin-bottom: 15px;
}

.lnf-bottom-xxl {
  margin-bottom: 360px;
}



/* GENERAL */

a {
  color: #FFF;
  cursor: pointer;
}

a:hover,
a:focus,
a:active {
  color: #AD3B37;
  text-decoration: none;
}

p a {
  color: #AD3B37;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
}

ul li i.fa {
  color: #A32E29;
  margin-right: 15px;
  font-size: 1.4em;
}

.lnf-highlight {
  color: #AD3B37;
}

.lnf-content-center {
  text-align: center;
}

.lnf-mobile-only {
  display: none;
}

.lnf-logo {
  height: 65px;
}

.btn-lnf {
  color: #FFF !important;
  background: #A32E29;
  border: #A32E29;
}

.btn-lnf:hover,
.btn-lnf:focus,
.btn-lnf:active {
  color: #FFF;
  background: #772C29;
}

.btn.btn-lnf-outline {
  color: #FFF;
  border: 1px solid #FFF;
}

.btn.btn-lnf-outline:hover,
.btn.btn-lnf-outline:active,
.btn.btn-lnf-outline:focus {
  color: #AD3B37;
  border: 1px solid #AD3B37;
}

.lnf-branding {
  color: #A32E29;
}

.lnf-hide {
  display: none;
}

.lnf-blog header,
.lnf-apps header,
.lnf-impressum header {
  background-image: linear-gradient(-223deg, #A32E29 0%, #772C29 100%);
  padding: 30px 0;
}

.lnf-blog-social-media a {
  color: #A32E29;
  font-size: 3rem;
  margin-left: 15px;
}

.lnf-blog-social-media a:hover {
  color: #AD3B37;
}

.lnf-blog-list-item {
  margin-top: 30px;
}

.lnf-blog-list-item img,
.lnf-blog-list-item p {
  margin-bottom: 30px;
}

/* NAVIGATION */

.lnf-nav {
  max-width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #AD3B37 ;
}

.lnf-nav ul li {
  display: inline-block;
  font-family: "Lato-Light", Helvetica, Arial, sans-serif;
  margin-right: 20px;
}

.lnf-nav ul li:last-of-type {
  margin-right: 0;
}

.lnf-back {
  font-size: 1.8rem;
  font-weight: 300;
  color: #A32E29;
  text-transform: uppercase;
  cursor: pointer;
}

/*  SECTIONS (index.html) */

.lnf-hero {
  background-image: linear-gradient(-223deg, #A32E29 0%, #772C29 100%);
  color: #FFF;
  padding: 30px 0 0;
  border-bottom: 1px solid #AD3B37;
}

.lnf-hero .btn {
  margin-top: 15px;
}

.lnf-hero h1,
.lnf-hero p {
  text-align: center;
  margin: 90px 0;
}

.lnf-hero iframe {
  max-width: 100%;
}

.lnf-me {
  color: #FFF;
  background:#772C29;
  padding: 60px 0;
}

.lnf-me p {
  text-align: justify;
}

.lnf-tn {
  padding: 60px 0;
  color: #444;
  text-align: center;
}

.lnf-youtube {
  background-image: linear-gradient(-223deg, #A32E29 0%, #772C29 100%);
  color: #FFF;
  padding: 30px 0;
  margin-bottom: 60px;
}

.lnf-youtube-new {
  padding: 10px 10px 4px 10px;
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  text-align: center;
  margin: 30px 0;
}

.lnf-youtube-new iframe {
  width: 100%;
}

.lnf-youtube .fa {
  font-size: 3rem;
  vertical-align: middle;
  margin-right: 15px;
}

.lnf-free {
  margin-bottom: 30px;
}

.lnf-free h2 {
  color: #A32E29;
}

.lnf-infographic {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #F2F2F2;
}

.lnf-infographic img {
  margin-top: 30px;
}

.lnf-book {
  color: #444;
}

.lnf-book h2 {
  color: #A32E29;
}

.lnf-book img {
  margin-top: 60px;
}

.lnf-book .lnf-price-old {
  font-size: 2.8rem;
  color: #E2E2E2;
  text-decoration: line-through;
}

.lnf-book .lnf-price-new {
  font-size: 2.8rem;
  color: #E2E2E2;
  color: #A32E29;
}

.lnf-book .btn {
  margin-top: 15px;
}

.lnf-book-content {
  padding: 30px;
}

.lnf-contact {
  background-image: linear-gradient(-223deg, #A32E29 0%, #772C29 100%);
  padding: 60px 0;
  color: #FFF;
  border-bottom: 1px solid #AD3B37;
}

.lnf-contact .btn {
  margin-top: 30px;
}

.lnf-contact p {
  font-size: 2rem;
  font-weight: 300;
}

.lnf-contact a i {
  font-size: 3rem;
  margin-left: 30px;
}

/* APPS */

.lnf-app-heading {
  margin: 15px 0 30px 0;
}

.lnf-app-heading h1 {
  color: #AD3B37;
  font-size: 3rem;
  font-weight: 300;
}

.lnf-app-tile {
  background-image: linear-gradient(-225deg, #A32E29 0%, #772C29 100%);
  border-radius: 20px;
  text-align: center;
  color: #FFF;
  padding: 120px 0;
  cursor: pointer;
  margin-top: 30px;
  display: block;
}

.lnf-app-tile.lnf-app-tile-small {
  padding: 40px 0 20px 0;
  font-size: 0.8rem;
}

.lnf-app-tile .fa {
  font-size: 4rem;
  margin-bottom: 15px;
}

.lnf-app-tile:hover {
  color: #AD3B37;
}

.lnf-app-trainingsplaner,
.lnf-app-nutrition {
  padding: 30px 0;
}

.lnf-app-trainingsplaner-result,
.lnf-app-trainingsplaner-result {
  margin-top: 30px;
}

/* CTA */

.lnf-cta {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-width: 500px;
  overflow: hidden;
  background: #FFF;
  margin-left: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.lnf-cta .lnf-cta-head {
  padding: 30px;
  text-align: center;
  color: #FFF;
  font-size: 3rem;
  background-image: linear-gradient(-223deg, #A32E29 0%, #772C29 100%);
}

.lnf-cta .lnf-cta-head img {
  height: 45px;
}

.lnf-cta .lnf-cta-head .fa-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}

.lnf-cta .lnf-cta-head .lnf-divider {
  height: 5px;
  width: 100px;
  margin: 15px auto;
  background: #AD3B37;
}

.lnf-cta .lnf-cta-body {
  padding: 30px;
  text-align: center;
}

.lnf-cta .lnf-cta-body h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* FOOTER */
.lnf-footer-brand {
  padding: 30px 0;
  background: #772C29;
  color: #FFF;
}

.lnf-footer-brand a {
  color: #AD3B37;
}

.lnf-footer-brand i {
  margin: 0 5px;
}

.lnf-footer-clean {
  text-align: center;
  padding: 30px 0;
  margin-top: 120px;
}

.lnf-footer-clean p {
  color: #E3DCDB;
}

.lnf-footer-clean a {
  color: #A32E29;
}

/* Impressum */

.lnf-impressum header {
  margin-bottom: 30px;
}

.lnf-impressum h1 {
  font-size: 3rem;
}

/* Thank You */

.lnf-thank-you {
  margin-top: 30px;
}

/* MEDIA */

@media (max-width: 40.0rem) {
  nav {
    display: none;
  }
  .lnf-mobile-only {
    display: block;
  }

  .lnf-cta {
    top: 15px;
    bottom: 0;
  }
}


@media (max-width: 80.0rem) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  header,
  footer {
    text-align: center;
  }

  .lnf-logo {
    margin-bottom: 15px;
  }

  .lnf-footer-clean {
    margin-top: 60px;
  }
}
